{% extends "layout.html.j2" %}
{% block title %}{{ country.title }}{% endblock %}
{% block content %}

<h1 class="text-center my-4">{{ country.title }}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ country.urls['flag'] }}" class="img-fluid mb-4 mx-auto"  alt="Flag Image">
        </div>
        <div class="col-md-6">
            <h2>Thinking of travelling to {{ country.title }}? Here are some useful resources: </h2>
            <a href={{ country.urls['travel_advice'] }}><h3>Travel Advice</h3></a>
            <a href={{ country.urls['lonely_planet'] }}><h3>Lonely Planet</h3></a>
            <a href={{ country.urls['redit'] }}><h3>Redit</h3></a>
            <a href={{ country.urls['hostel_world']}}><h3>Hostel World</h3></a>
            <a href="{{url_for('views.travel')}}"><h3>Back to Countries</h3></a>
        </div>
    </div>
</div>
<div class="container">
    <p>{{ country.get_text() }}</p>
</div>

<div class="container">
<div class="container mt-4 mb-4"></div>
{% if country.visited %}
<h2>Here are some photos of my time in {{ country.title }}:</h2>
<div class="row">
    {% for image in country.get_images() %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('views.ask') }}">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/' ~ country.name ~ '/' ~ image ) }}" class="img-fluid" alt="Image">
                </div>
            </a>
        </div>
    {% endfor %} 
{% endif %}
</div>

{% endblock %}