{% extends "layout.html.j2" %}
{% block title %}{{ country.title }}{% endblock %}
{% block content %}

<h1 class="text-center mb-4">{{ country.title }}</h1>

<h4 class="text-center mb-4"> {{ country.show_weather() }} </h4>

<div class="container mb-4" style="background-color: rgb(243, 241, 241); padding:20px">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ country.urls['flag'] }}" class="img-fluid mb-4 mx-auto"  alt="Flag Image">
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title"></i> Travel Resources </h4>
                    <a href={{ country.urls['travel_advice'] }}><h5><i class="fas fa-info-circle"></i> UK Gov Travel Advice</h5></a>               
                    <a href={{ country.urls['lonely_planet'] }}><h5><i class="fas fa-book"></i> Lonely Planet</h5></a>
                    <a href={{ country.urls['redit'] }}><h5><i class="fab fa-reddit"></i> Reddit</h5></a>
                    <a href={{ country.urls['hostel_world'] }}><h5><i class="fas fa-bed"></i> Hostel World</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p>{{ country.get_text() }}</p>
</div>

<div class="container">
<div class="container mt-4 mb-4"></div>
{% if country.visited %}
<h2>Here are some photos of my time in {{ country.title }}:</h2>
<div class="row">
    {% for image in country.get_images() %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('views.image', image_name=image.name, category=country.name) }}">
                <div class="image-container">
                    <img src="{{ image.path }}" class="img-fluid" alt="Image">
                </div>
            </a>
        </div>
    {% endfor %} 
{% endif %}
</div>
<div class="container text-center mb-4">
  <a href="{{url_for('views.travel')}}"><h3>Back to Countries</h3></a>
</div>
{% endblock %}