{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}



<div class="container">
    <h2>Hi there, </h2>
    <div class="row">
        <div class="col-8">
            <p>My name is Joe, I am a budding software engineer learning the craft of programming
            by making this app using python's flask module and an sql database.
            
            Welcome to my site! </p>

            <p>Here you can find some examples of my coding projects as well as some pictures of places that I have been
            while I have travelled the world!</p>

            <p>Thanks for visiting. Updates coming soon!</p>
        </div>
        <div class="col-4">
            <h2>Here are some links:</h2>
            <br>
            <p1><a href="https://github.com/Woodenman23">Github profile</a>, </p1>
            <p1> <a href="https://www.linkedin.com/in/joseph-roger-foster/">Linkedin</a></p1>
        </div>
    </div>
</div>

{% endblock %}