{% extends "layout.html.j2" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mb-4">
      <img src="/static/images/san_francisco.jpg" alt="..." style="max-width: 100%" />
    </div>
    
  </div>
  <h2>Hi there,</h2>
  <div class="row mb-4">
    <div class="col-md-8">
      <p>
        My name is Joe. I am a British software developer living in San
        Francisco. Welcome to my site!
      </p>

      <p>
        Here you can find some examples of my coding projects as well as some
        pictures from my travels all over the world.
      </p>
      <p>
        My vision of a successful technology is a means to automate the dull and
        repetitive aspects out of life, so that we humans can be free to reach
        our creative potentials and persue meaningful fulfilling leisure
        activities. Or just potter about...
      </p>
      <p>
        When I a not sitting over a computer copy-pasting from stack overflow, I
        can be found walking on hiking trails around the bay and taking part in
        music/arts festivals with my wife Rosalind. She is an incredible painter
        and can be found <a href="https://www.rozziroomian.com">here</a>.
      </p>
      <p>Thanks for visiting!</p>
    </div>
    
  </div>
<h2 class="text-center my-4">Skills</h2>
<div class="row mt-4">
  {% for skill in skills %}
      <div class="col-2">
        <div class="d-flex justify-content-center align-items-center" style="height: 25vh;">
          <a href="{{ skill.url }}">
            <img
              class="img-fluid"
              id="skill_img"
              src="{{ skill.image_path }}" 
              alt="skill-img"
            />
          </a>
        </div>
      </div>
  {% endfor %}
  </div>
</div>


{% endblock %}
