{% extends "layout.html.j2" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="container">
  <h2>Hi there,</h2>
  <div class="row">
    <div class="col-8">
      <p>
        My name is Joe. I am a British software developer living in San
        Francisco. Welcome to my site!
      </p>

      <p>
        Here you can find some examples of my coding projects as well as some
        pictures from my travels all over the world.
      </p>
      <p>
        My vision of a successful technology is a means to automate the dull and
        repetitive aspects out of life, so that we humans can be free to reach
        our creative potentials and persue meaningful fulfilling leisure
        activities. Or just potter about...
      </p>
      <p>
        When I a not sitting over a computer copy-pasting from stack overflow, I
        can be found walking on hiking trails around the bay and taking part in
        music/arts festivals with my wife Rosalind. She is an incredible painter
        and can be found <a href="https://www.rozziroomian.com">here</a>.
      </p>
      <p>Thanks for visiting!</p>
    </div>
    <div class="col-4">
      <h2>Here are some links:</h2>
      <br />
      <p>
          <a href="https://github.com/Woodenman23"><i class="fab fa-github"></i> GitHub</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/joseph-roger-foster/"><i class="fab fa-linkedin"></i> Linkedin</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
