{% extends "layout.html.j2" %}  
{% block title %} Login {% endblock %} 

{% block content %} 
<form action="#" method="post">
  <p>Type your name to log in.</p>
  <p>Name:</p>
  <p><input type="text" name="nm" /></p>
  <p><input type="submit" name="submit" value="Login" /></p>
</form>
{% endblock %}
