{% extends "layout.html.j2" %} 
{% block title %}Projects{% endblock %} 
{% block content %}

  <head>
    <style>
      #project_img {
        padding: 15px;
      }
    </style>
  </head>
  {% for project in projects %}
  <div class="container">
    <div class="row">
      <h2>{{ project.title }}</h2>
    </div>
    <div class="row">
      <div class="col-5">
      <a href="{{ url_for('views.image', image_name=project.image_name, category='projects') }}">
        <img
          class="img-fluid w-100"
          id="project_img"
          src="{{ project.image_path }}" class="img-fluid" 
          alt="project-img"
          height="100"
        />
        </a>
      </div>
      <div class="col-7">
        <p>
          {{ project.text }}
        <p>
          <a href="{{ project.github_url }}"
            ><i class="fab fa-github"></i> {{ project.title }}</a
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}