{% extends "layout.html.j2" %} 
{% block title %} Travel {% endblock %} 
{% block content %}

<h1 class="text-center my-4">World Travel</h1>



<div class="container">
    
    <p><i>"Travel is the soul's dance with the unknown, where every step unveils new horizons, 
    every encounter whispers stories untold, and every journey leaves a lasting imprint on 
    the heart."</i></p> 
    <p> - ChatGPT</p>
</div>

<div class="container text-center mb-4">
        <h3 class="my-4"> Search for a country: </h3>
        <form action="#" method="post">
            <p><input type="text" name="country" placeholder="country"</p>
            <p><input type="submit" name="submit" value="search" /></p>
        </form>
</div>

<div class="container mb-4">
    <h3 class="my-4"> Countries I have visited: </h3>
    <div class="container" style="background-color: rgb(243, 241, 241); padding:20px;">
        <div class="row">
            {% for country in countries %}
                <div class="col-3">
                        <div><a href="{{ url_for('views.country', country_name=country.name) }}">
                        <img src="{{ country.urls['flag'] }}" class="img-fluid mb-4 mx-auto" style="max-height: 100px;" alt="Flag Image">
                        </a>
                    </div>
                </div>    
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

